* {
  margin: 0px;
  padding: 0px;
}

.meter {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.semi-donut {
  --percentage: 0;
  --fill: #ffcd71;
  width: 200px;
  height: 100px;
  position: relative;
  color: #ffcd71;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  &:after {
    content: "";
    width: 200px;
    height: 200px;
    border: 15px solid;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill)
      var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    /* animation : fillAnimation 1s ease-in; */
  }
}
